<h1>Update Table Data For: {{workouts.name}}</h1>
<form id="update-person" action="/people" method="post">
    Name: <input type="text" name="name" value="{{workouts.name}}"><br>
    Reps: <input type="text" name="reps" value="{{workouts.reps}}"><br>
    Weight: <input type = "text" name="weight" value="{{workouts.weight}}"><br>
    Date:   <input type = "date" name="date" value="{{workouts.date}}"><br>
    
    Unit:   <select name="lbs" id="unit-selector">
                <option value="0">Kilograms</option>
                <option value="1">Pounds</option>

            </select>
</form>
<button onclick="updatePerson({{workouts.id}})">Update</button>
<script defer>selectPlanet({{workouts.lbs}});</script>